@charset "UTF-8";
/*reset*/
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; }
*:before, *:after { box-sizing: border-box }
body, html { width: 100%; height: 100%; }
html {font-size: 100px; font-family: "Microsoft Yahei", Arial, "Helvetica Neue", "Hiragino Sans GB", Simsun, sans-serif;  -webkit-tap-highlight-color: transparent }
body{ font-size: 0.14rem; max-width: 640px; margin:0 auto; }
img{ border: 0;vertical-align: middle;}
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { margin: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
a { background-color: transparent; text-decoration: none; }
a:active, a:hover { outline: 0; text-decoration: none;}
ul,li{list-style: none;}
i,em{font-style: normal;}
.intro-bg img{ width: 100%; height: auto; }
.intro-container{ width: 100%; overflow: hidden; }
.intro-p1{position: relative; width: 100%;}
.intro-index{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0,0,0,.54); z-index: 10; }
.logo{ display: block; width: 100%; position: absolute; top: 20%;}
.intro-counter{ text-align: center; border: 0 solid rgba(79,189,145,0.51);font-size: 0.16rem; color: #28A47F;letter-spacing: -0.39px; padding-top: 40px; padding-bottom: 40px;  }
.intro-counter .t1{ font-size: 0.48rem; }
.intro-counter .p1,.intro-counter .p2{background-image: -webkit-gradient(linear, left 0, right 0, from(#92FE9D), to(#40AE8E));-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.intro-case-box{padding-bottom: 20px;}
.intro-case-container{ width: 100%; max-height: 100%; padding-bottom: 50px;}
.intro-case-container .swiper-pagination-bullet{background: rgba(0,0,0,.25); }
.intro-case-container .swiper-pagination-bullet-active{background: rgba(0,0,0,.45);}
.intro-case-container.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 3px;}
.case-slide{ width: 75%; background: #fff; border-radius: 14px; opacity: .5; -webkit-transform:scale(0.9); transition-duration: 0ms;border: 1px solid rgba(79,189,145,0.04);box-shadow: 6px 6px 18px 0 rgba(140,175,158,0.2); overflow: hidden; }
.case-slide.swiper-slide-active{opacity: 1;transition-duration: 300ms;-webkit-transform:scale(1);}
.case-img img{ width: 100%; height: auto; }
.case-title{ font-size: 0.16rem; line-height: 0.4rem; height: 0.4rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #333; padding:5px 15px;font-family: PingFangSC-Regular;}
.case-desc{  padding:10px 15px 15px 15px;font-family: PingFangSC-Light; }
.case-desc p{font-size: 0.12rem; color: #5e5e5e; line-height: 0.18rem; height: 105px; overflow: hidden;text-overflow: ellipsis;}
.intro-p5{ background: #F6F7FC; padding:30px 0; }
.intro-p5 .gw{ width: 100%; margin-bottom: 30px; }
.intro-p3{ padding:20px 0; background-image: url(../img/p3-bg.jpg); background-size: 100%;}
.intro-p4{padding:20px 0 30px 0;}
.intro-p4 .pc{ margin-bottom: 10px; }
.arrow-down{display: inline-block; width: 20px; height: 20px; position: absolute; bottom: 20px; left:50%; margin-left: -10px; background: url(../img/arrow-down.png) no-repeat; background-size: cover;}


























