@charset "UTF-8";
/*reset*/
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; }
*:before, *:after { box-sizing: border-box }
body, html { width: 100%; height: 100%; }
html {font-size: 100px; font-family: "Microsoft Yahei", Arial, "Helvetica Neue", "Hiragino Sans GB", Simsun, sans-serif;  -webkit-tap-highlight-color: transparent }
body{ font-size: 0.14rem; max-width: 640px; margin:0 auto; }
img{ border: 0;vertical-align: middle;}
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { margin: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
a { background-color: transparent; text-decoration: none; }
a:active, a:hover { outline: 0; text-decoration: none;}
ul,li{list-style: none;}
i,em{font-style: normal;}
.intro-bg img{ width: 100%; height: auto; }
.intro-container{ width: 100%; overflow: hidden; }
.intro-p1{position: relative; width: 100%;}
.intro-index{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(0,0,0,.54); z-index: 10; }
.logo{ display: block; width: 100%; position: absolute; top: 20%;}
.intro-counter{ text-align: center; border: 0 solid rgba(79,189,145,0.51);font-size: 0.16rem; color: #28A47F;letter-spacing: -0.39px; padding-top: 40px; padding-bottom: 40px;  }
.intro-counter .t1{ font-size: 0.48rem; }
.intro-counter .p1,.intro-counter .p2{background-image: -webkit-gradient(linear, left 0, right 0, from(#92FE9D), to(#40AE8E));-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.intro-case-box{padding-bottom: 20px;}
.intro-case-container{ width: 100%; max-height: 100%; padding-bottom: 50px;}
.intro-case-container .swiper-pagination-bullet{background: rgba(0,0,0,.25); }
.intro-case-container .swiper-pagination-bullet-active{background: rgba(0,0,0,.45);}
.intro-case-container.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 3px;}
.case-slide{ width: 75%; background: #fff; border-radius: 14px; opacity: .5; -webkit-transform:scale(0.9); transition-duration: 0ms;border: 1px solid rgba(79,189,145,0.04);box-shadow: 6px 6px 18px 0 rgba(140,175,158,0.2); overflow: hidden; }
.case-slide.swiper-slide-active{opacity: 1;transition-duration: 300ms;-webkit-transform:scale(1);}
.case-img img{ width: 100%; height: auto; }
.case-title{ font-size: 0.16rem; line-height: 0.4rem; height: 0.4rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #333; padding:5px 15px;font-family: PingFangSC-Regular;}
.case-desc{  padding:10px 15px 15px 15px;font-family: PingFangSC-Light; }
.case-desc p{font-size: 0.12rem; color: #5e5e5e; line-height: 0.18rem; height: 105px; overflow: hidden;text-overflow: ellipsis;}
.intro-p5{ background: #F6F7FC; padding:30px 0; }
.intro-p5 .gw{ width: 100%; margin-bottom: 30px; }
.intro-p3{ padding:20px 0; background-image: url(../img/p3-bg.jpg); background-size: 100%;}
.intro-p4{padding:20px 0 30px 0;}
.intro-p4 .pc{ margin-bottom: 10px; }
.arrow-down{display: inline-block; width: 20px; height: 20px; position: absolute; bottom: 20px; left:50%; margin-left: -10px; background: url(../img/arrow-down.png) no-repeat; background-size: cover;}

/* 增加定制 2017-08-11 */
.intro-p6{ background: url(../img/bg2.jpg) center bottom no-repeat; background-size: 100%; margin-bottom: 15px;}
.intro-p6 .intro-p6-inner{background-color: rgba(0,0,0,.7); padding:50px 20px; text-align: center; }
.intro-btn{display: inline-block; padding:0 20px; height: 44px; line-height: 42px; border:1px solid #fff; background:rgba(0,0,0,.3); font-size: 14px; color: #fff; text-align: center; -webkit-border-radius: 22px; border-radius: 22px;  }
.intro-foot{padding-bottom: 15px }
.dpl-ft-bar { position: fixed; z-index: 99; right: 0; left: 0; bottom: 0; height: 44px; width: 100%; border-bottom: 0; background-color: #fff; -webkit-box-shadow: 0 0 1px rgba(0,0,0,.2); box-shadow: 0 0 1px rgba(0,0,0,.2); }
.dpl-ft-btn{border:0 none;}
.dpl-ft-cell2{width: 100%; display: table;}
.dpl-ft-cell2 a { display: table-cell;  height: 44px; width: 50%; text-align: center; vertical-align: middle;}
.dpl-btn-submit{ display: block; height: 44px; line-height: 44px; background:#57D07F; color: #FFF;  text-align: center; font-size: 15px;}
.dpl-ft-cell2 .btn-share { width: 30%; display: table-cell; vertical-align: middle; min-width: 44px; max-width: 60px; height: 44px; text-align: center; border-right: 1px solid #ededed; font-size: 14px; color: #333;}
.dpl-ft-cell2 .dpl-btn-submit{ width: 70%; }
.btn-share .iconshare { display: inline-block; width: 20px; height: 20px; vertical-align: middle; position: relative;  top: -1px; margin-right: 5px; background: url(bordeaux/img/icon-share.png) center center no-repeat; background-size: 20px 20px;}
.dpl-footer{ background:rgba(0,0,0,.5); text-align: center; font-size: .26rem; color: #b6b6b6; padding-top: .6rem; padding-bottom: .7rem; }
.dpl-footer .dpl-footer-label{ display: inline-block; width: 1.74rem; height: .43rem; margin-top: .4rem; background: url(bordeaux/img/footer-label.png) no-repeat; background-size: contain; }
























